beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
dotenv==0.19.0
gym==0.18.3
homeassistant==2022.6.2
idna==2.10
neo4j==4.3.4
numpy==1.21.2
opencv-python==4.5.3.56
pytz==2021.1
requests==2.26.0
scikit-learn==0.24.2
sklearn==0.0
SpeechRecognition==3.8.1
stable-baselines3==1.1.0
tensorflow==2.6.0
threading==0.0.1
transformers==4.10.3
urllib3==1.26.7
wikipedia==1.4.0
wolframalpha==5.0.0
